{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div>
            <h4>Введите 2 слова на русском языке</h4>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-inline mt-4'} }) }}
        {{ form_widget(form.firstWord, {'attr': {'class': 'mb-2', 'placeholder': 'Первое слово'} }) }}
        {{ form_widget(form.secondWord, {'attr': {'class': 'mx-sm-3 mb-2' , 'placeholder': 'Второе слово'} }) }}
        {{ form_widget(form.submit, {'attr': {'class': 'mx-sm-3 mb-2 btn btn-primary' }, 'label': 'Готово' }) }}
        {{ form_end(form) }}
        {% if time %}
            <ul class="list-group mb-2 ">
                <li class="list-group-item col-7">На создание графа ушло {{ time['graph'] }} сек</li>
                <li class="list-group-item col-7">На поиск кратчайшего пути ушло {{ time['shortest_way_time'] }}сек
                </li>
            </ul>
        {% endif %}

        {% if result %}
            <div class="col-7">
                {% if result|length > 1 %}
                    <p>Всего шагов {{ result|length }}</p>
                {% endif %}
                {% for index, item in result %}
                    {{ item }}
                    {% if index != result|keys|last %} &nbsp;=>&nbsp; {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
